.command-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.command-button__button {
  z-index: 2;
  height: 5rem;
  width: 5rem;
  border: none;
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 50%;
  background-image: linear-gradient(#dab9b9, #e7e7e7);
  box-shadow: 0 3px 8px #6b6a6a, inset 0 2px 3px #fff;
}

.command-button__button:active {
  transform: scale(0.9);
  background: #f14d3c;
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 15rem;
  height: 15rem;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  border-radius: 100%;
  animation: waves 1s ease-in-out infinite;
  background-image: linear-gradient(
    to right,
    #6400a4,
    #5e07b5,
    #5411c6,
    #411bd8,
    #1225eb
  );
}

@keyframes waves {
  0% {
    transform: scale(0.2, 0.2);
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    transform: scale(0.9, 0.9);
    opacity: 0;
  }
}
