.language-set__text {
  font-size: 1.5rem;
}

.language-set__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.language-set__wrapper button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  width: 4rem;
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
  border-color: transparent;
}

.language-set img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

@media only screen and (min-width: 750px) {
  .language-set__wrapper button {
    width: 5rem;
  }
}
